body {
  background: #f1f1f1;
  /* font-family: Georgia, 'Times New Roman', Times, serif; */
  font-family: neue-kabel, sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

/* img {
  border-radius: 30px;
} */

canvas {
  border-radius: 30px;
}

video {
  border-radius: 30px;
  display: none;
}

button {
  border-radius: 5px;
  font-size: 1em;
  margin: 0.5em;
}

.flip {
  transform: scaleX(-1);
}

.large-image {
  border-radius: 30px;
}

.small-image {
  border-radius: 5px;
}

.outer-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr 1fr;
  column-gap: 1em;
  row-gap: 1em;
  padding: 0.5em;
  height: calc(100vh - 1em);
}

.box {
  background-color: orange;
  border: 3px solid black;
}

.header-box {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.style-box {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.content-box {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.output-box {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.card-grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  align-content: space-around;
  column-gap: 0.5em;
  row-gap: 0.5em;
  padding: 0.5em;
}

.card {
  align-self: center;
  justify-self: center;
}

.card-title {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.card-button-panel {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.card-content {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  background-color: black;
  border-radius: 30px;
}

.spinner {
  border: solid 5px #cfd0d1;
  border-bottom-color: #1c87c9;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  animation: spin 2s linear infinite;
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.button {
  padding: 0.25em 0.5em;
  font-weight: bold;
  outline: none;
  background-color: #f1f1f1;
  border-color: black;
}

.button:hover {
  background-color: lightgrey;
}

.button:active {
  background-color: grey;
  transform: translateY(1px);
}

.loading {
  text-align: center;
  font-size: 1.5em;
}

.loaded {
  text-align: center;
  font-size: 1.5em;
}

.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 900ms infinite;
  animation: ellipsis steps(4, end) 900ms infinite;
  content: '\2026'; /* ascii code for the ellipsis character */
}

@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

/* The Modal (background) */
.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */
}

/* Modal Content */
.info-modal-content {
  /* background-color: #fefefe; */
  color: white;
  margin: auto;
  padding: 20px;
  /* border: 1px solid #888; */
  width: 80%;
}

/* The Close Button */
.closeBtn {
  color: #aaaaaa;

  font-size: 1.5em;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #aaaaaa;
  border-radius: 5px;
}

.closeBtn:hover,
.closeBtn:focus {
  color: orange;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid orange !important;
}

.closeBtnWrapper {
  padding: 20px;
  text-align: center;
}

#openBtn {
  position: fixed;
  bottom: 0;
  right: 0;
  background: red;
  border-radius: 50% 0 0 50%;
  width: 50px;
  height: 50px;
  border: 3px black solid;
  border-right-style: none;
  border-right-width: 3px;
  color: white;
  font-size: 15px;
}
